@use '../../styles/components.scss' as *;

.guarantees {
  &__h2 {
    font-size: var(--h2);
    &--mobile {
      display: none;
      @include tablet {
        display: inline;
      }
    }
    &--pc {
      @include tablet {
        display: none;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    border-bottom: 1px solid $white-12;
    position: relative;
    overflow: hidden;
    cursor: crosshair;
    p {
      font-size: var(--XXL);
      color: $white-60;
      font-family: 'RG';
      position: relative;
      top: 0;
      transition: 0.3s ease;
      transition-delay: 0.1s;
      @include mobile {
        font-size: var(--XL);
      }
    }

    &:hover {
      .guarantees__carousel {
        transition:
          top 0.2s ease-in,
          width 0.2s ease-in,
          border-radius 0.3s ease 0.1s;
        top: 0%;
        border-radius: 0;
        width: 100%;
        &__wrapper {
          animation-play-state: running;
        }
      }
      p {
        top: -100px;
        transition: 0.3s ease-in;
      }
    }

    &:nth-child(2) {
      .guarantees__carousel {
        background: linear-gradient(90deg, #be5869, #403a3e);
      }
    }

    &:nth-child(3) {
      .guarantees__carousel {
        background: linear-gradient(90deg, #6274e7, #8752a3);
      }
    }

    &:nth-child(4) {
      .guarantees__carousel {
        background: linear-gradient(90deg, #f46b45, #eea849);
      }
    }

    &:nth-child(5) {
      .guarantees__carousel {
        background: linear-gradient(90deg, #005c97, #363795);
      }
    }

    &:nth-child(6) {
      .guarantees__carousel {
        background: linear-gradient(90deg, #fc00ff, #00dbde);
      }
    }
    &:nth-child(7) {
      .guarantees__carousel {
        background: linear-gradient(90deg, #432371, #faae7b);
      }
    }
    &:nth-child(8) {
      .guarantees__carousel {
        background: linear-gradient(90deg, #f8cf6a, #2178dd);
      }
    }
    &:nth-child(9) {
      .guarantees__carousel {
        background: linear-gradient(90deg, #08203e, #557c93);
      }
    }
  }

  &__carousel {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: $mainGradient;
    height: 200%;
    width: 90%;
    border-radius: 100% 100%;
    transition:
      top 0.3s ease-in,
      width 0.5s ease-in,
      border-radius 0.8s ease;
    overflow: hidden;

    &__wrapper {
      position: absolute;
      height: 50%;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      white-space: nowrap;
      flex-wrap: nowrap;
      gap: 64px;
      transition: 0.3s ease 0.1s;
      animation: carousel-ani 10s linear infinite;
      animation-play-state: paused;
    }
    &__item {
      display: inline-flex;
      align-items: center;
      gap: 64px;
      width: 100%;
      transition: 0.3s;
      font-size: var(--XXL);
      font-family: 'RG';
    }
  }

  @keyframes carousel-ani {
    from {
      right: 0;
    }

    to {
      right: -1080px;
    }
  }
}
